* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

nav {
    background-color: lightgreen;
    position: relative;
}

nav li {
    color: black;
    display: block;
    background-color: grey;
    margin: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border: 3px solid;
    /*text-decoration: none;*/

}
a {
    text-decoration: none;
}
