* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

header {
    text-align: center;
    font-size: 28px;
}
#chicken {
    background-color: pink;
    

}

#beef {
    background-color: red;
    color: white;
    
}
#vegies {
    background-color: yellowgreen;
    
}
.desc {
    background-color: grey;
}